body {
  font-family: $base-font-family;
}

.image.is-256x256 {
    height: 256px;
    width: 256px;
}

// .avatar {
//   border-radius: 50%;
// }

// .hero figure {
//   margin: auto;
// }

// .hero .title, .hero .subtitle, .hero figure {
//   text-align: center;
// }

// .home-header, .home-footer {
//   text-align: center;
// }

// .home-header .navbar-item, .home-footer .navbar-item {
//   display: inline-block;
//   text-align: center;
// }

// .home-header .navbar-item {
//   font-size: 1.2em;
// }
