---
layout: default
---
<section class="home hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <figure class="image is-256x256">
        <img class="avatar" alt="Adil AJJEMAMI" src="{{ '/assets/images/adilajjemami.jpg' | relative_url }}">
      </figure>
      <div class="logo">
        <figure class="image is-48x48 programming-code">
          <img alt="Agile Full Stack Developper" src="{{ '/assets/images/programming-code.svg' | relative_url }}">
        </figure>
        <h1 class="title">
          Adil AJJEMAMI
        </h1>
      </div>
      <h2 class="subtitle">
        Développeur Agile Full-Stack
      </h2>
      {{ content }}
    </div>
  </div>
</section>
